# Django
DJANGO_SETTINGS_MODULE=config.settings.dev
DJANGO_SECRET_KEY=change-me-in-production
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Database
POSTGRES_DB=ptdocs
POSTGRES_USER=ptdocs
POSTGRES_PASSWORD=ptdocs_dev
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Redis
REDIS_URL=redis://redis:6379/0

# Timezone / Locale
TIME_ZONE=America/Bogota
LANGUAGE_CODE=es-co
